<style type="text/css">
    #usermenu .l-btn-text {
        font-size: 17px;
    }
</style>
<div id="header" style="width:100%;height:35px;background-color: #DADADA;padding:0;margin:0;">
    <div id="header_left" style="width:300px;height:35px;line-height:35px;padding-left:50px;margin:0;float:left;">
        <a href="?s=/index/Index/index" style="text-decoration:none;"><span class="icon-signout icon-large" style="color:red;">&nbsp;首&nbsp;页</span></a>
    </div>
    <div id="header_right" style="width:300px;height:35px;line-height:35px;background-color:#088EF0;padding:0;margin:0;float:right;">
        <span id="usershow" style="color:#FFFFFF;display:none;">&nbsp;&nbsp;登录用户：</span>
        <a id="usermenu" href="javascript:void(0);" style="color:green;"></a>
    </div>
</div>
<div id="menumenu" style="width:50px;display:none;">
    <div id="login_user_name">退出</div>
</div>
<script type="text/javascript">
    //字符串为空
    function isNull(str) {
        if (str == null || str == "" || str.length < 1)
            return true;
        else
            return false;
    }

    $(document).ready(function() {
        if (!isNull($.cookie('pageusername'))) {
            $('#usershow').css('display', 'inline');
            $('#usermenu').prepend('&nbsp;&nbsp;' + $.cookie('pageusername'));
            document.getElementById('login_user_name').onclick = function() {
                if (confirm('是否退出登录？')) {
                    top.location = "?s=/index/Index/userexit";
                    self.location = "?s=/index/Index/userexit";
                    window.location.href = "?s=/index/Index/userexit";
                    window.navigate("?s=/index/Index/userexit");
                }
            }

            $('#usermenu').menubutton({
                menu: '#menumenu'
            });
        }
    });
</script>